.booking_greeting {
    position: relative;
    border-radius: 10px;
    padding: 15px;
    background-color: #EEE;
    margin-bottom: 20px;
}

.booking_greeting h4 {
    font-size: var(--font-size-xxl);
    color: rgba(0, 0, 0, 0.7);
    font-weight: var(--font-weight-bold);
    font-style: italic;
    margin-bottom: 15px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 6px 10px;
}

.booking_greeting h4 span {
    color: var(--color-secondary);
}

.booking_greeting h4 span span {
    color: var(--color-primary);
}

.booking_greeting h5 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    color: rgba(0, 0, 0, 1);

}

.booking_greeting p {
    margin-bottom: 0;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-sm);
}


.booking_form_area {
    position: relative;
}


.multi_date_input_group {
    width: 100%;
    position: relative;
}

.multi_date_input_area {
    width: 100%;
}

.multi_date_input {
    padding-right: 3rem !important;
}

.data_clear_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    cursor: pointer;
    color: #6b7280 !important;
}

.price_info_area {
    border-radius: 10px;
    background-color: #f3f3f3;
    padding: 15px;
}

.price_info_area .custom_form_label {
    opacity: 0.9;
}

.price_text {
    color: var(--text-color);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
}

.form_info {
    color: rgba(0, 0, 0, 0.6);
    font-size: var(--font-size-md);
    margin-bottom: 0;
}

.payment_btn_area {
    position: relative;
    text-align: end;
    padding-top: 30px;
}

.payment_area {
    min-height: 30dvh;
    position: relative;
}

.payment_form .p-FieldLabel{
    display: none !important;
}