.booking_greeting {
    position: relative;
    border-radius: 10px;
    padding: 15px;
    background-color: #EEE;
    margin-bottom: 20px;
}

.booking_greeting h4 {
    font-size: var(--font-size-xxl);
    color: rgba(0, 0, 0, 0.7);
    font-weight: var(--font-weight-bold);
    font-style: italic;
    margin-bottom: 15px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 6px 10px;
}

.booking_greeting h4 span {
    color: var(--color-secondary);
}

.booking_greeting h4 span span {
    color: var(--color-primary);
}

.booking_greeting h5 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    color: rgba(0, 0, 0, 1);

}

.booking_greeting p {
    margin-bottom: 0;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-sm);
}


.booking_form_area {
    position: relative;
}


.multi_date_input_group {
    width: 100%;
    position: relative;
}

.multi_date_input_area {
    width: 100%;
}

.multi_date_input {
    padding-right: 3rem !important;
}

.data_clear_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    cursor: pointer;
    color: #6b7280 !important;
}

.price_info_area {
    border-radius: 10px;
    background-color: #f3f3f3;
    padding: 15px;
}

.price_info_area .custom_form_label {
    opacity: 0.9;
}

.price_text {
    color: var(--text-color);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
}

.form_info {
    color: rgba(0, 0, 0, 0.6);
    font-size: var(--font-size-md);
    margin-bottom: 0;
}

.form_info span {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
}

.payment_btn_area {
    position: relative;
    text-align: end;
    padding-top: 30px;
}

.payment_area {
    min-height: 30dvh;
    position: relative;
}

.payment_form .p-FieldLabel {
    display: none !important;
}

.p-LTR .p-Select-select {
    display: none;
}

/*  */

.booking_time_line_view {
    position: relative;
    width: 100%;
    max-height: calc(100dvh - 255px);
    overflow-y: auto;
    border-radius: 13px;
}

.booking_time_line_view .fc-scrollgrid thead tr {
    background-color: var(--color-secondary) !important;
    border-bottom: 2px solid #FFF;
}

.booking_time_line_view .fc-scrollgrid thead tr th th {
    padding: 6px;
}

.booking_time_line_view .fc-scrollgrid thead tr th a {
    color: #FFF !important;
    text-decoration: none;
    font-weight: 500 !important;

}

.booking_time_line_view .fc-theme-standard .fc-scrollgrid {
    border-radius: 13px !important;
}

.booking_time_line_view .fc .fc-timegrid-slot-label-cushion {
    font-size: var(--font-size-md);
}

.fc .fc-daygrid-day-number {
    text-decoration: none;
    font-size: var(--font-size-md);
    color: var(--color-secondary);
}

.booking_event i {
    color: var(--color-primary);
}

/*  */


.booking_event {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 6px;
    height: 100%;
    padding: 5px 10px;
    border-radius: 1px;
    margin: 0;
    cursor: pointer;
    background-color: var(--color-primary-light);
}

.booking_event:hover {
    background-color: #cfe9cf;
}

.booking_event .booking_title {
    text-align: left;
    line-height: 1.2em;
    font-weight: 500;
}

.booking_event .booking_time {
    font-size: 13px;
    color: var(--text-color);
    font-weight: 400;
}

.booking_event i {
    font-size: 18px;
    line-height: 0;
}

.day_view_event {
    border-left-width: 6px;
    border-radius: 5px;
}

.booking_detail_area {
    position: relative;
    width: 100%;
    padding: 15px 12px;
    background-color: #eee;
    border-radius: 8px;
}

.booking_detail_area hr {
    border-top-color: #919191;
    margin: 15px 0;
}

.booking_detail {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
}

.booking_detail i {
    line-height: 0;
    font-size: 20px;
    color: var(--color-primary);
}

.booking_detail span {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    color: var(--text-color);
}


.booking_detail span.font_light {
    font-weight: var(--font-weight-regular);
    opacity: 0.7;
}

.fc .fc-daygrid-day-frame {
    height: 103px !important;
}

.note_text {
    font-size: 13.5px;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
    line-height: 1.5em;
    margin-top: 15px;
    border-radius: 6px;
    background-color: #f5f5f5;
    padding: 10px;
}


.booking_time_line_view .fc-col-header-cell {
    background-color: var(--color-secondary);
    color: #FFF;
}


.booking_time_line_view .fc .fc-col-header-cell-cushion {
    text-decoration: none;
    color: #FFF;
    font-weight: 500 !important;
    font-size: var(--font-size-base);
}

.fc-scrollgrid-sync-inner {}


.timer {
    border-radius: 8px;
    padding: 8px 16px;
    background-color: var(--color-primary-light);
    font-weight: 500;
    font-size: var(--font-size-md);
    color: var(--color-primary);
    margin-bottom: 15px;
    border-left: 2px solid var(--color-primary);
}

.timer span {
    color: #000;
}

.timer i {
    line-height: 0;
    color: var(--color-primary);
}