html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", serif !important;
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-white);
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #acbdd3;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

::-webkit-scrollbar-track {
    background-color: initial;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-secondary-light) !important;
    position: relative;
}


/* for custom modal */
.p-dialog.custom_modal_dialog.modal_dialog_full {
    width: 100dvw !important;
    height: 100dvh !important;
    top: 0 !important;
    max-height: 100% !important;
    border-radius: 0 !important;
}

.modal_dialog_xl {
    width: 85vw !important;
    height: 85vh !important;
}

.modal_dialog_lg {
    min-width: 1140px !important;
    max-width: 1140px !important;
}

.modal_dialog_md {
    min-width: 700px !important;
    max-width: 700px !important;
}

.modal_dialog_sm {
    min-width: 550px !important;
    max-width: 550px !important;
}

.p-dialog.custom_modal_dialog {
    border-radius: 10px !important;
    background-color: #FFF !important;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFF;
}

.custom_modal_header_inner {
    display: flex;
    justify-content: space-between !important;
    flex-wrap: nowrap !important;
    align-items: center;
}

/* For modal */
.custom_modal {
    border-radius: 16px !important;
    background-color: #FFF !important;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFF;
}

.p-dialog-header.custom_modal_header {
    padding: 10px 20px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: var(--color-primary) !important;
    gap: 20px !important;
    box-shadow: none !important;
    border: none !important;
}

.p-dialog-header.document_modal_header {
    padding: 10px 15px !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    background-color: #FFF !important;
    box-shadow: none !important;
    border: none !important;
}

.p-dialog.custom_modal_dialog.p-dialog-maximized {
    border-radius: 0 !important;
}


.custom_modal_header .p-dialog-header-icons {
    display: none;
}

.document_modal_header .p-dialog-header-icons {
    gap: 4px;
}

.custom_modal_header_inner {
    display: flex;
    justify-content: space-between !important;
    flex-wrap: nowrap !important;
    align-items: center;
}

.document_modal_header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom_modal_header .modal-title {
    font-size: 16px !important;
    font-weight: 500 !important;
    margin-bottom: 0;
    color: #FFF !important;
}

.data_delete_btn {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 8px;
    margin: 0;
    overflow: hidden;
    transition: ease 0.3s;
}

.data_delete_btn i {
    display: block;
    position: relative;
    color: #FFF;
    line-height: 0;
    font-size: 25px;
    transition: ease 0.3s;
}

.data_delete_btn:active i {
    transform: scale(0.96);
}

.close_modal_btn {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 50%;
    margin: 0;
    overflow: hidden;
    transition: ease 0.3s;
}

.close_modal_btn.danger i.icon_sm {
    font-size: 16px !important;
}

.close_modal_btn.danger span {
    color: var(--color-danger);
    font-size: 15px;
}

.p-dialog-header-close {
    border: 2px solid var(--color-primary) !important;
    color: var(--color-primary) !important;
    width: 28px;
    height: 28px;
}

.p-dialog-header-maximize {
    border-radius: 6px;
}

.p-dialog-header-maximize svg {
    width: 18px !important;
    height: 18px !important;
    color: var(--color-primary) !important;
}

.close_modal_btn i {
    display: block;
    position: relative;
    color: #FFF;
    line-height: 0;
    font-size: 25px;
    transition: ease 0.3s;
}

.close_modal_btn.primary i {
    color: var(--color-primary) !important;
}

.close_modal_btn.danger i {
    color: var(--color-danger) !important;
    font-size: 22px !important;
}

.close_modal_btn:active i {
    transform: scale(0.96);
}

.custom_modal_footer {
    display: flex;
    gap: 12px;
}

.custom_modal_dialog.p-dialog .p-dialog-footer {
    padding: 12px 12px !important;
}

.p-dialog.custom_modal_dialog.full_view_mode {
    /* transition: none; */
    transform: none;
    margin: 0;
    width: 100vw !important;
    height: 100vh !important;
    max-height: 100%;
    top: 0px !important;
    left: 0px !important;
    border-radius: 0 !important;
}

.p-dialog .p-dialog-footer .custom_modal_footer .p-button {
    padding: 10px 12px !important;
}

.p-dialog.custom_modal_dialog .p-dialog-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.p-button.custom_btn {
    border-radius: 6px;
    padding: 10px;
    min-width: 130px;
    font-size: 15px;
    transition: ease 0.5s;
    font-weight: 500 !important;
    border-width: 1px;
    border-style: solid;
    flex-shrink: 0 !important;
}

.custom_btn.primary {
    background-color: var(--color-primary);
    color: #FFF !important;
    border-color: var(--color-primary) !important;
}

.custom_btn.primary:hover {
    background-color: var(--color-primary-dark) !important;
}

.custom_btn.secondary {
    background-color: #d4d4d4;
    color: var(--text-color) !important;
    border-color: #d4d4d4 !important;
}

.custom_btn.secondary:hover {
    background-color: #bebebe !important;
}

.custom_btn.primary:focus {
    box-shadow: 0px 0px 0px 4px var(--color-focus-primary);
}

.custom_btn.secondary:focus {
    box-shadow: 0px 0px 0px 4px #b4b4b42f;
}

.custom_modal_body {
    position: relative;
    padding: 0 15px;
}

/**/

.page_form_group {
    margin-bottom: 25px;
}

.custom_form_label {
    display: block;
    color: var(--text-color);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    margin-bottom: 2px;
    opacity: 0.6;
}

.is_required::after {
    content: '*';
    color: var(--color-danger);
    margin-left: 5px;
}

.form_error_msg {
    font-size: var(--font-size-xs);
    color: var(--color-danger);
    display: block;
    margin-top: 2px;
}

.message_label {
    border-radius: 10px;
    position: relative;
    font-size: var(--font-size-md);
    padding: 15px;
    width: 100%;
    border: 1px solid;
    border-left-width: 4px;
}

.message_label.info {
    background-color: var(--color-info-light);
    color: var(--text-color);
    border-color: var(--color-info);
}

.message_label.info i {
    color: var(--color-info);
}

.message_label.danger {
    background-color: var(--color-danger-light);
    color: var(--text-color);
    border-color: var(--color-danger);
}

.message_label.danger i {
    color: var(--color-danger);
}

.message_label.warning {
    background-color: var(--color-warning-light);
    color: var(--text-color);
    border-color: var(--color-warning);
}

.message_label.warning i {
    color: var(--color-warning);
}

.message_label.success {
    background-color: var(--color-success-light);
    color: var(--text-color);
    border-color: var(--color-success);
}

.message_label.success i {
    color: var(--color-success);
}

.form_check_area {
    display: flex;
    position: relative;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: nowrap;
    padding-top: 15px;
}

.form_divider {
    border-color: #DDD;
    margin: 25px 0 20px 0;
}

.form_title {
    font-size: var(--font-size-md);
    color: rgba(0, 0, 0, 1);
    margin-bottom: 20px;
}

.form_check_area .form_check_label {
    font-size: var(--font-size-sm);
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}


.form_check_area .form_check_label a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: var(--font-weight-medium);
}


.form_check_area .form_check_label a:hover {
    color: var(--color-primary-dark);
}

.form_check_label button {
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--color-primary);
    transition: ease 0.3s;
    font-weight: 600;
}

.form_check_label button:hover,
.form_check_label button:hover {
    outline: none;
    border: none;
}


.form_check_label button:hover {
    color: var(--color-primary-dark);
}

.form_checkbox {
    width: 20px !important;
    height: 20px !important;
}

.p-checkbox.form_checkbox .p-checkbox-box {
    width: 20px !important;
    height: 20px !important;
}

.p-checkbox.form_checkbox .p-checkbox-box .p-checkbox-icon.p-icon {
    width: 12px !important;
    height: 12px !important;
}

/*  */
.content_modal.p-dialog {
    border-radius: 15px !important;
    overflow: hidden;
    border: 3px solid #FFF;
}

.content_modal.p-dialog .p-dialog-footer {
    justify-content: center !important;
}

.content_modal_content {
    padding: 0px !important;
}

.content_modal_header.p-dialog-header {
    width: 100%;
    background-color: #EEE;
    padding: 14px 15px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #DDD !important;
}

.content_modal_header h5 {
    color: #000;
    font-size: var(--font-size-lg);
    font-weight: 600;
    margin-bottom: 0;
}

.content_modal_bottom_area {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #DDD;
    padding-top: 20px;
}

.content_modal_body {
    position: relative;
    width: 100%;
    padding: 20px;
}

.content_group {
    position: relative;
    margin-bottom: 20px;
}

.content_head {
    font-size: var(--font-size-md);
    font-weight: 600;
    color: #000;
}

.content_desc {
    font-size: var(--font-size-md);
}

.content_link {
    color: var(--color-primary);
    transition: ease 0.3s;
    font-size: var(--font-size-md);
    text-decoration: none;
}

.content_link:hover {
    color: var(--color-secondary);
    text-decoration: underline;
}

.content_list li {
    font-size: var(--font-size-md);
    margin-bottom: 15px;
}

.phone_input {
    height: 45px !important;
    border: 1px solid #E9EDF0 !important;
    background-color: #FCFDFF !important;
    border-radius: 8px !important;
}

.phone_input:focus {
    border-color: var(--color-secondary) !important;
    box-shadow: 0px 0px 0px 4px var(--color-focus-secondary) !important;
}

.react-tel-input .flag-dropdown {
    position: absolute;
    height: 43px;
    top: 50%;
    transform: translateY(-50%);
    left: 1px;
    background-color: transparent !important;
    border: none !important;
    border-radius: 8px 0 0 8px !important;
    margin-top: 0.01rem !important;
}

.react-tel-input .selected-flag {
    background-color: #EEE;
    border-radius: 8px 0 0 8px !important;
}


.custom_phone_input_dropdown {
    background: #ffffff !important;
    color: #4b5563 !important;
    border: 0 none;
    border-radius: 6px !important;
    box-shadow: 0px 10px 30px var(--color-overlay-shadow-secondary) !important;
    margin-top: 1px !important;
}

.react-tel-input .country-list .country.highlight {
    background-color: var(--color-primary-light);
    color: var(--color-primary);
}

.react-tel-input .country-list .country {
    font-size: 14px !important;
    padding: 8px 16px;
    border-radius: 5px;
    margin-bottom: 4px;
}

.react-tel-input .country-list {
    padding: 0 5px 5px 5px !important;
}

.react-tel-input .country-list .search-emoji {
    display: none;
}

.react-tel-input .country-list .search {
    padding-left: 0;
    background-color: #FFF;
    padding-top: 5px;
}

.react-tel-input .country-list .search-box {
    width: 100%;
    border-color: #F2F7FF;
    padding: 12px 16px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 15px !important;
    color: #000;
    background-color: #F2F7FF;
    border-radius: 8px;
    transition: ease0.5s;
    margin: 0;
}

.react-tel-input .country-list .search-box::placeholder {
    color: #b9b9b9;
}

.react-tel-input .country-list .search {
    border-bottom: 1px solid #e5e7eb;
    margin-bottom: 5px;
}


.form_label_loader {
    height: 14px !important;
    width: 100px !important;
    border-radius: 4px !important;
    margin-bottom: 7px !important;
}

.form_input_loader {
    width: 100% !important;
    height: 45px !important;
    border-radius: 8px !important;
}

/* Error */
.error_container {
    height: 100dvh;
    width: 100%;
    position: relative;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #FFF;
}

.error_area {
    position: absolute;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0px 10px 30px #37348b2c;
}

.error_area img {
    width: 350px;
    height: 350px;
    object-fit: contain;
    display: block;
    pointer-events: none;
    margin-bottom: 40px;
}

.error_area h6 {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    opacity: 0.5;
    pointer-events: none;
    text-align: center;
    max-width: 40%;
    display: block;
    line-height: 1.6em;
    margin: 20px auto;
}

.error_area h3 {
    color: var(--text-color);
    margin-bottom: 0 !important;
    text-align: center;
    font-size: 20px;
    background-color: #f1f1f1;
    border-radius: 30px;
    padding: 8px 20px;
}

.error_area p {
    color: var(--text-color);
    margin-bottom: 15px !important;
    text-align: center;
    font-size: 14px;
    opacity: 0.5;
}

.go_back_btn {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 15px;
    font-size: 14px;
    color: var(--color-primary);
    border-radius: 6px;
    background-color: #FFF;
    transition: ease 0.5s;
    overflow: hidden;
    border: 1px solid var(--color-primary);
}

.go_back_btn:hover {
    background-color: var(--color-primary);
    color: #FFF;
}

.go_back_btn.custom {
    border-radius: 50px !important;
    padding: 8px 16px !important;

}

.go_back_btn.custom:focus {
    box-shadow: 0px 0px 0px 4px var(--color-focus-primary);
    border-color: #FFF !important;
    background-color: var(--color-primary);
    color: #FFF;
}

.breadcrumb_section {
    padding-top: 200px;
    padding-bottom: 100px;
    position: relative;
    width: 100%;
    background-color: #EEE;
    background-image:
        linear-gradient(328deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
        url(../../public/breadcrumb_bg.png);
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
}

.breadcrumb_content {
    width: 50%;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    flex-direction: column;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 20px 15px 15px;
    box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.2);
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumb_title {
    font-size: 30px;
    font-weight: 600;
    color: #DDD;
    margin-bottom: 0;
    text-align: center;
}

.breadcrumb_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 10px;
}

.breadcrumb_list li {
    font-size: 15px;
    color: #DDD;
    display: flex;
    align-items: center;
    gap: 5px;
}

.breadcrumb_list li .breadcrumb_link {
    color: #DDD !important;
    text-decoration: none;
    font-weight: 600;
    transition: ease 0.3s;
}

.breadcrumb_list li .breadcrumb_link:hover {
    color: #FFF !important;
    text-decoration: underline;
}

.breadcrumb_list li.has_child::after {
    content: '/';
    margin-left: 5px;
    color: #DDD;
    opacity: 0.5;
}

.breadcrumb_list li.active {
    color: var(--color-primary) !important;
    font-weight: 600 !important;
}

.no_data_container {
    position: relative;
    display: flex;
    padding: 60px 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    width: 100%;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0px 10px 30px #37348b2c;
}

.no_data_container img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    display: block;
    pointer-events: none;
    margin-bottom: 20px;
}

.no_data_container h6 {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    opacity: 0.5;
    pointer-events: none;
    text-align: center;
    max-width: 100%;
    display: block;
    line-height: 1.6em;
    margin: 20px auto;
    margin-bottom: 0;
    background-color: #EEE;
    border-radius: 100px;
    padding: 8px 20px;
}

.customize_data_area {
    background-color: #FFF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    row-gap: 10px;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px;
}

.customize_data_area h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--text-color);
}

.customize_data_area p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
    color: var(--text-color);
}

.calendar_input_group {
    position: relative;
    width: 100%;
}

.filter_input_grp .custom_date_input .p-inputtext,
.filter_input_grp .custom_form_input.p-inputtext {
    border-color: var(--color-primary-light) !important;
    padding-right: 45px;
    background-color: var(--color-primary-light);
}

.filter_input_grp .custom_date_input .p-inputtext:focus,
.filter_input_grp .custom_form_input.p-inputtext:focus {
    border-color: var(--color-primary2) !important;
    background-color: #FFF !important;
}


.filter_date_input_group .date_clear_icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: #929292;
    font-size: 25px;
    cursor: pointer;
}

.date_clear {
    cursor: pointer;
    color: #6b7280;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    border: none;
    outline: none;
}