/* For XXL Screen (768p(1366 x 768) above - 1080p , 1920 x 1080) */
@media (min-width: 1399.99px) {}

/* For XL Screen (Laptop - HD Ready Display) */
@media only screen and (min-width: 1199.9px) and (max-width: 1399.98px) {}

/* For LG (Large) Screen  */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .modal_dialog_lg {
        min-width: 800px !important;
        max-width: 800px !important;
    }
}

/* For MD (Medium) Screen (ipad) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .modal_dialog_lg,
    .modal_dialog_md {
        min-width: 90vw !important;
        max-width: 90vw !important;
    }
}

/* For SM (Small) Screen (Tab) */
@media (min-width: 576px) and (max-width: 767px) {

    .modal_dialog_lg,
    .modal_dialog_md {
        min-width: 90vw !important;
        max-width: 90vw !important;
    }
}

/* For Mobile Screen */
@media (max-width: 575px) {

    .p-dialog.modal_dialog_lg,
    .p-dialog.modal_dialog_sm,
    .p-dialog.modal_dialog_md {
        min-width: 95vw !important;
        max-width: 95vw !important;
        max-height: calc(100% - 25px);
    }

    .page_form_group {
        margin-bottom: 20px;
    }

    .custom_form_label {
        font-size: var(--font-size-sm);
    }

    .custom_modal_body {
        padding: 0;
    }


    .page_content_section,
    .filter_area {
        border-radius: 12px !important;
    }

    .filter_area {
        position: relative !important;
        top: auto !important;
    }

    .error_area h3 {
        font-size: 18px;
    }

    .error_area h6 {
        font-size: 14px;
        max-width: max-content;
    }

    .go_back_btn.custom {
        padding: 6px 15px !important;
        height: 33px;
    }

    .error_area {
        padding: 40px 25px;
        width: 88%;
    }

    .error_area img {
        width: 55vw !important;
        height: 55vw !important;
    }

    .breadcrumb_content {
        width: 95% !important;
        row-gap: 15px;
        padding: 15px 10px 10px;
    }

    .breadcrumb_title {
        font-size: 24px !important;
    }

    .breadcrumb_list li {
        font-size: 14px !important;
    }

    .no_data_container {
        padding: 40px;
    }


    .no_data_container h6 {
        font-size: 14px;
        padding: 6px 20px;
    }

    .no_data_container img {
        width: 80%;
        height: 80%;
    }

    .no_data_found_area {
        min-height: 250px !important;
    }

    .no_data_found_area p {
        font-size: 14px !important;
        padding: 3px 8px !important
    }

    .customize_data_container{
        padding: 15px !important;
        margin-bottom: 30px !important;
    }

    .customize_data_area {
        align-items: center !important;
        row-gap: 12px !important;
    }

    .customize_data_area:first-child {
        margin-bottom: 12px !important;
        padding-bottom: 13px !important;
    }

    .customize_data_container h5 {
        font-size: 18px !important;
        margin-bottom: 6px !important;
    }

    .customize_data_container p {
        font-size: 13px !important;
    }

    .customize_data_area:last-child{
        flex-direction: column;
    }

    .data_tab_btn{
        min-width: auto;
        flex: 1;
        font-size: 14px
    }

    .data_tab_area{
        width: 100%;
    }
}

/* For custom */
@media (max-width: 991.5px) {
    .filter_area_row {
        row-gap: 8px;
    }

    .breadcrumb_title {
        font-size: 28px;
    }

    .breadcrumb_section {
        padding-bottom: 70px;
        background-position: 13%;
    }

    .breadcrumb_content {
        width: 60%;
    }
}